<div class="container">
  <form  #userForm="ngForm" (ngSubmit)="onSubmit()">
    <h1 class="text-center text-white bg-info p-3">Workshop Registration Form</h1>
    
    
    

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead">Join the 3-day <strong>Web Development Virtual Workshop</strong> and become a hirable freelancer</p>
        <p class="lead" style="display: inline;">Participation fee: Rs 2500</p>
        <p class="badge badge-dark ml-2 p-1" style="display: inline;">Limited Offer</p>
        <p class="lead">Few Slots available, Hurry !!</p>
      </div>
    </div>

    <div class="form-check mb-3">
      <h6>Please rate your Web Development or Programming knowledge</h6>
      <input class="form-check-input" name="knowledge" type="checkbox">
      <label class="form-check-label">I Dont have any prior knowledge</label><br>

      <input class="form-check-input" name="knowledge" type="checkbox">
      <label class="form-check-label">Im a newbie in Web Development</label><br>

      <input class="form-check-input" name="knowledge" type="checkbox">
      <label class="form-check-label">Ive Watched tutorials online</label><br>

      <input class="form-check-input" name="knowledge" type="checkbox">
      <label class="form-check-label">Ive Web Development related working experince</label><br>

      <input class="form-check-input" name="knowledge" type="checkbox">
      <label class="form-check-label">Im Currently working as Web Developer and want to improve my skills</label><br>
      
      <label>Other-</label>
      <input type="text" #otherknowledge class="checkbox mt-2" name="other" >
    </div>


    <div class="form-check mb-3">
      <h6>I would Like to Learn:</h6>
      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label pr-4">HTML</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label">CSS</label>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label pr-4">Javascript</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label">PHP</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label pr-4">Database</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label">WordPress</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label pr-4">Ruby</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label">Python ( Django or Flask)</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label pr-4">Front-End Development</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="learn" type="checkbox">
          <label class="form-check-label">Back-End Development</label>
        </div>
      </div>

      <label>Other-</label>
      <input type="text" #otherlearn class="checkbox mt-2" name="other" >
    </div>


    <!--Page 2-->

    <h1 class="text-center text-white bg-info my-3 p-3">Partcipant Information</h1>

    <label>Name *</label>
    <div class="form-group row">
        <div class="col-xs-2 pl-3 pr-1">
          <input type="text" class="form-control" name="firstname" required
          #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched"
          [(ngModel)]="usermodel.firstname">
          <p class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">Firstname is required</p>
        </div>
        <label>-</label>
        <div class="col-xs-2 pl-1">
          <input type="text" class="form-control" name="lastname" required
          #lastname="ngModel" [class.is-invalid]="lastname.invalid && lastname.touched"
          [(ngModel)]="usermodel.lastname">
          <p class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">Lastname is required</p>
        </div>
    </div>

    <label>Contact Number *</label>
    <div class="form-group row">
        <div class="col-xs-2 pl-3 pr-1">
          <input type="text" class="form-control" name="areacode" required
          #areacode="ngModel" [class.is-invalid]="areacode.invalid && areacode.touched"
          [(ngModel)]="usermodel.areacode">
          <p class="text-danger" [class.d-none]="areacode.valid || areacode.untouched">Area Code is required</p>
        </div>
        <label> - </label>
        <div class="col-xs-2 pl-1">
          <input type="text" class="form-control" name="number" required
          #number="ngModel" [class.is-invalid]="number.invalid && number.touched"
          [(ngModel)]="usermodel.number">
          <p class="text-danger" [class.d-none]="number.valid || number.untouched">Number is required</p>
        </div>
    </div>

    
    <div class="form-group">
      <p>Email ID *</p>
      <input type="text" class="form-control w-25" name="email" required
      #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
      [(ngModel)]="usermodel.email">
      <p class="text-danger" [class.d-none]="email.valid || email.untouched">Valid Email is required</p>
    </div>

    <div class="form-group">
      <p>Occupation *</p>
      <input type="text" class="form-control w-25" name="occupation" required
      #occupation="ngModel" [class.is-invalid]="occupation.invalid && occupation.touched"
      [(ngModel)]="usermodel.occupation">
      <p class="text-danger" [class.d-none]="occupation.valid || occupation.untouched">Occupation is required</p>
    </div>

    <div class="form-group">
      <p>Company *</p>
      <input type="text" class="form-control w-25" name="company" required
      #company="ngModel" [class.is-invalid]="company.invalid && company.touched"
      [(ngModel)]="usermodel.company">
      <p class="text-danger" [class.d-none]="company.valid || company.untouched">Company is required</p>
    </div>

    <div class="form-group">
      <p>Job Title *</p>
      <input type="text" class="form-control w-25" name="job" required
      #job="ngModel" [class.is-invalid]="job.invalid && job.touched"
      [(ngModel)]="usermodel.job">
      <p class="text-danger" [class.d-none]="job.valid || job.untouched">Job Title is required</p>
    </div>

    <!--Page 3-->

    <h1 class="text-center text-white bg-info my-3 p-3">Payment Information</h1>

    <div class="form-check mb-3">
      <h6>Workshop Dates:</h6>
      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="dates" type="checkbox">
          <label class="form-check-label pr-4">May1-3</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="dates" type="checkbox">
          <label class="form-check-label">May 8-10</label>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="dates" type="checkbox">
          <label class="form-check-label pr-4">May 15-17</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="dates" type="checkbox">
          <label class="form-check-label">May 24-26</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="dates" type="checkbox">
          <label class="form-check-label pr-4">June 1-3</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="dates" type="checkbox">
          <label class="form-check-label">June 8-10</label>
        </div>
      </div>
    </div>  

    <div class="form-group">
      <label>Payment Method</label>
      <select class="custom-select" name="payment" #payment [(ngModel)]="usermodel.payment">
        <option value=" " disabled selected>Cash</option>
        <option value="card">Debit/Credit Card</option>
        <option value="upi">UPI</option>
        <option value="bank">Bank Transfer</option>
      </select>
    </div>

    <div class="form-group">
      <p>Any Additional you would like to share?</p>
      <textarea rows="4" cols="160" name="extra" #extra [(ngModel)]="usermodel.extra">Type here...</textarea>
    </div>

    <div class="form-check mb-3">
      <h6>Where Did you hear about us?</h6>
      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="findus" type="checkbox">
          <label class="form-check-label pr-4">Facebook</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="findus" type="checkbox">
          <label class="form-check-label">Twitter</label>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="findus" type="checkbox">
          <label class="form-check-label pr-4">Online Ads</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="findus" type="checkbox">
          <label class="form-check-label">LinkedIn</label>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <input class="form-check-input" name="findus" type="checkbox">
          <label class="form-check-label pr-4">Search Engine</label>
        </div>
        <div class="col-sm-6">
          <input class="form-check-input" name="findus" type="checkbox">
          <label class="form-check-label">Other</label>
        </div>
      </div>
    </div>  

    <button [disabled]="userForm.form.invalid" class="btn btn-primary mb-2 " type="submit"
    >Submit</button>

    <div *ngIf="alert" class="alert alert-success mb-5" role="alert">
      <b>Successfully Submitted</b>
      Thankyou for Registration
    </div>
    <div class="mb-5"></div>

    

  </form>
</div>

